# Mac OS X
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db

# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# Vagrant
.vagrant/

# django
staticfiles/
media/
db.sqlite

